---
http_interactions:
- request:
    method: post
    uri: https://api-3t.sandbox.paypal.com/2.0/
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><env:Header><RequesterCredentials xmlns="urn:ebay:api:PayPalAPI" xmlns:n1="urn:ebay:apis:eBLBaseComponents" env:mustUnderstand="0"><n1:Credentials><n1:Username>gary.taylor_api1.flexcommerce.com</n1:Username><n1:Password>CXLBLQM64B6AXULK</n1:Password><n1:Subject/><n1:Signature>ALYGfT1J93GLRZF-3Y94ce-Z4UZgAsHIQqBoD5p.DabVWhLPVXkcHJw0</n1:Signature></n1:Credentials></RequesterCredentials></env:Header><env:Body><SetExpressCheckoutReq xmlns="urn:ebay:api:PayPalAPI">
          <SetExpressCheckoutRequest xmlns:n2="urn:ebay:apis:eBLBaseComponents">
            <n2:Version>124</n2:Version>
            <n2:SetExpressCheckoutRequestDetails>
              <n2:ReturnURL>http://www.example.com/cart/transactions/new_with_token/paypal</n2:ReturnURL>
              <n2:CancelURL>http://www.example.com/cart</n2:CancelURL>
              <n2:ReqBillingAddress>0</n2:ReqBillingAddress>
              <n2:NoShipping>0</n2:NoShipping>
              <n2:AddressOverride>1</n2:AddressOverride>
              <n2:PaymentDetails>
                <n2:OrderTotal currencyID="GBP">40.00</n2:OrderTotal>
                <n2:OrderDescription>THE DEFAULT DESCRIPTION - TO BE CHANGED</n2:OrderDescription>
                <n2:ButtonSource>ActiveMerchant</n2:ButtonSource>
                <n2:ShipToAddress>
                  <n2:Name>first middle last</n2:Name>
                  <n2:Street1>shipping address 1</n2:Street1>
                  <n2:Street2>shipping address 2</n2:Street2>
                  <n2:CityName>shipping address city</n2:CityName>
                  <n2:StateOrProvince>shipping address state</n2:StateOrProvince>
                  <n2:Country>GB</n2:Country>
                  <n2:PostalCode>shipping postcode</n2:PostalCode>
                </n2:ShipToAddress>
                <n2:PaymentDetailsItem>
                  <n2:Name>Line item 0 name</n2:Name>
                  <n2:Number>Number</n2:Number>
                  <n2:Quantity>2</n2:Quantity>
                  <n2:Amount currencyID="GBP">2.00</n2:Amount>
                  <n2:Description>Line item 0 name</n2:Description>
                  <n2:ItemURL>http://www.google.com</n2:ItemURL>
                </n2:PaymentDetailsItem>
                <n2:PaymentDetailsItem>
                  <n2:Name>Line item 1 name</n2:Name>
                  <n2:Number>Number</n2:Number>
                  <n2:Quantity>2</n2:Quantity>
                  <n2:Amount currencyID="GBP">2.00</n2:Amount>
                  <n2:Description>Line item 1 name</n2:Description>
                  <n2:ItemURL>http://www.google.com</n2:ItemURL>
                </n2:PaymentDetailsItem[...]
