<!DOCTYPE html>
<html>
<head>
  <title>UiPaymentGateway</title>
  <%= stylesheet_link_tag    "ui_payment_gateway/application", media: "all" %>
  <%= javascript_include_tag "ui_payment_gateway/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
